@media (max-width: 400px) {
    .container {
        padding: 0 5% 0 5%;
    }
    .container__title--set,
    .container__title ,
    .header__logo-infor {
        width: 100%;
        text-align: center;
    }
    .content__title {
        font-size: 30px;
        width: 100%;
    }
    .container__body,
    .container__body-contain {
        display: block;
        padding-right:  0px;
        padding-left:  0px;
    }
    .container__title {
        margin: 160px 0 60px;
    }
    .img__pc img {
        transform: translateX(0px);
        margin: auto;
    }
    .img__pc {
        width: 90vw;
        display: flex;
    }
    .btn__download {
        flex-direction: column;
        justify-content: space-between;
        height: 140px;
        align-items: center;
    }
    .btn {
        padding: 20px 0;
        width: 60vw;
    }
    .img-mobile{
        width: 90vw;
    }
    .container__function {
        display: block;
    }
    .container__branches {
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly;
    }
    footer {
        position: relative;
        text-align: center;
    }
    .footer {
        flex-direction: column;
        height: auto;
    }
    .footer__moreinfo {
        margin: auto;
        flex-direction: column;
        justify-content: space-between;


    }
    .moreinfor_items {
        margin: 18px auto;
    }
    .img_logo {
        padding-top: 40px;
    }
    .footer__contact {
        
    }
    .attribution {
        position: absolute;
        top: 100%;
        width: 100%;
    }
    .footer__contact {
        margin: 40px auto;
    }
}
